.header_link{
    margin-left: 40px;;
}

.padding-header{    
    padding-top: 3vmin;
}

.pointer{
    cursor: pointer;
}

.breakpoint-section {
    width: 50%;
}

@media screen and (max-width: 1380px) {
    .breakpoint-section {
        width: 100%;
    }
    
}