@import './base.css';
@import './section.css';
@import 'header.css';


#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}


body {
  --sb-track-color: #e6e6e6;
  --sb-thumb-color: #777777;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}