@import './base.css';
@import './section.css';
@import 'header.css';
@import 'sidebar.css';


body {
  --sb-track-color: #e6e6e6;
  --sb-thumb-color: #777777;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

#app {
  font-weight: normal;
}
.c {
  width: 90%;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}


span, button {
  cursor: pointer;
}

.btn:focus, .btn:active, .btn {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
