#sidebarCollapse {
    position: absolute;
    right: -25px;
    outline: none;
    height: 65px;
    width: 25px;
    padding-left: 2px;
    background: #171f38;
    color: #171f38;
    outline: none;
    border: none;
    z-index: 2;
}
.accordion-item{
    background-color: #171f38 !important;
}

#hideSideBar{
    font-weight: 900 !important;
    font-size: 1.5em;
    background: #171f38;
    color: #171f38;
}

#sidebarCollapse:focus {
    outline: none;
    border: none;
}

#sidebar {
    position: relative;
    min-width: 23.6vw;
    max-width: 23.6vw;
    height: 100vh;
    background: #171f38;
    color: #ffffff;
    transition: all 0.3s;
    border-right: white solid 1px !important;
}
.sideBarBody {
    overflow: auto;
    height: 100%;
    padding-bottom: 30px;
}
#sidebar.active {
    margin-left: -23.6vw;
}


@media screen and (pointer: coarse) {
    #sidebar {
        min-width: 33vw;
        max-width: 33vw;
    }
    #sidebar.active {
        margin-left: -33vw;
    }
    
}

.material-icons{
    color: #ffffff;
}

.accordion-button:not(.collapsed) {
    background-color: #e7f1ff00;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-button{
    background-color: #e7f1ff00;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    border-top: solid 1px #ffffff;
    color: #ffffff !important;
}


.accordion-button::before {
    color: #ffffff !important;
}

#sidebar .sidebar-header {
    padding: 20px;
    color: #ffffff;
}


.btn-secondary {
    color: #fff;
    background-color: #2a2b2b !important;
    border: none !important;
}


#settingsControler{
    position: absolute;
    bottom: 0;
    right: -281px;

    width: 281px;
    height: 281px;
    border: #ffffff solid 1px;
    border-radius:  0 273px 0 0 ;

    z-index: 2;

}








/* General overflow handling for the accordion */
#accordionExample {
    overflow-y: auto;
    height: 100%; /* Full height to ensure scrolling works properly */
}