#sidebarCollapse {
    position: absolute;
    right: -25px;
    outline: none;
    height: 65px;
    width: 25px;
    padding-left: 2px;
    background-color: #6d7fcc;
    outline: none;
    border: none;
    z-index: 2;
}

#hideSideBar{
    font-weight: 900 !important;
    font-size: 1.5em;
    color: gainsboro;
}

#sidebarCollapse:focus {
    outline: none;
    border: none;
}

#sidebar {
    position: relative;
    min-width: 453.18px;
    max-width: 453.18px;
    height: 100vh;
    background: #6d7fcc;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -453.18px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}




#settingsControler{
    position: absolute;
    bottom: 0;
    right: -281px;

    width: 281px;
    height: 281px;
    background: #818698;
    border-radius:  0 273px 0 0 ;

    z-index: 2;

}