#sidebarCollapse {
    position: absolute;
    right: -25px;
    outline: none;
    height: 65px;
    width: 25px;
    padding-left: 2px;
    background: #feffff;
    color: #171f38;
    outline: none;
    border: none;
    z-index: 2;
}

#hideSideBar{
    font-weight: 900 !important;
    font-size: 1.5em;
    background: #feffff;
    color: #171f38;
}

#sidebarCollapse:focus {
    outline: none;
    border: none;
}

#sidebar {
    position: relative;
    min-width: 23.6vw;
    max-width: 23.6vw;
    height: 100vh;
    background: #feffff;
    color: #171f38;
    transition: all 0.3s;
}
.sideBarBody {
    overflow: auto;
    height: 100%;
    padding-bottom: 30px;
}
#sidebar.active {
    margin-left: -23.6vw;
}


@media screen and (pointer: coarse) {
    #sidebar {
        min-width: 33vw;
        max-width: 33vw;
    }
    #sidebar.active {
        margin-left: -33vw;
    }
    
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #feffff;
    color: #171f38;
}

/* .sidebar-header{
    border-bottom: 1px solid #171f384d;
} */

.btn-secondary {
    color: #fff;
    background-color: #2a2b2b !important;
    border: none !important;
}


#settingsControler{
    position: absolute;
    bottom: 0;
    right: -281px;

    width: 281px;
    height: 281px;
    background: #818698;
    border-radius:  0 273px 0 0 ;

    z-index: 2;

}